

body {
  background-color: #001972;
  color: black;
  margin: 0px;
  overflow: auto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #c4c4c4;
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

#header-container{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #344583;
}

#search-bar{
  background-color: #344583;
  height: 24px;
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  border-radius: 5px;
  padding: 5px;
}

#search-bar input{
  width: 100%;
  border: none;
  outline: none;
  color: #c4c4c4;
  background-color: #344583;
}

#header{
  height:100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

#make-new-post{
  background: #0084ff;
  border-radius: 5px;
}

#logo{
  height: 100%;
  display: block;
}

#header-left{
  display: flex;
}

#header-right{
  display:flex;
}

#container{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.post-icon{
  width: 64px;
  height: 100%;
  position: sticky;
  margin-right: 20px;
}

.post-container{
  background-color: white;
  color: #001972;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
}

.post{
  display: flex;
  margin-bottom: 20px;
}

.post-icon img{
  width:64px;
  height: 64px;
  object-fit: cover;
  border-radius: 5px;
  position: sticky;
}

#header-right div{
  height: 100%;
  text-align: center;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
  cursor: pointer;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#header-right div:hover{
  background: #002022;
  border-radius: 5px;

}