body{
  background: white;

}

.logo{
  font-family:"Comic Sans MS", "Comic Sans", cursive;
  background-clip: text;
  background-image: linear-gradient(270deg, rgb(243, 188, 243), rgb(214, 160, 253), rgb(158, 158, 252), rgb(185, 245, 185), rgb(249, 249, 170), rgb(241, 195, 110), rgb(250, 182, 194));
  color: transparent;
  width: fit-content;
}

#search-input-container .logo{
  font-size:72px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 113px;
  font-weight: bolder;
  text-shadow: 1px 1px 113px black;/*interesting consequence here: the text shadow is showing up on TOP of the clipped rainbow text, lets play with that*/
}

#search-input-container input{
  border-radius: 0px;
  margin-left: auto; 
  margin-right: auto;
  width: 50%;
  display: block;
  border: 3px solid #c4c4c4;
  border-style: inset;
  margin-top: 13px;
}

.button-bar{
  margin-left: auto; 
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-right: auto;
  width: 50%;
  margin-top: 13px;
}

#search-input-container .secret-logo{
  font-size:72px;
  font-family:"Comic Sans MS", "Comic Sans", cursive;
  top: 0px;
  color: black;
  text-shadow: none;
  width: fit-content;
  position: absolute;
  font-weight: bolder;
  opacity: 0%;
  animation: gaslight-opacity 113s linear infinite; /*are you SURE you saw it black?*/

}

#search-results{
  display: none;
}

#search-results .header{
  display: flex;
  gap: 13px;
  border-bottom: 1px solid lightblue;
  border-top: 1px solid lightblue;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 13px;
}

#search-results .header input{
  height: 25px;
  margin-top: auto;
  width: 33%;
  margin-bottom: auto;
}

#search-results .header button{
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

#search-results .logo{
  font-size: 31px;
}


#search-results .link-container{
  margin-top: 13px;
  margin-left: 13px;
}

#search-results .link-container .desc{
  width: 50%;
}

#search-results .link-container .url{
  color: green;
  text-overflow: ellipsis;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}




/*don't do this oh god it bricks your computer,
 text shadow is too expensive to animate, instead lets do a hack*/
@keyframes shadow-animation {
    0%{
      text-shadow: 1px 1px 113px black;
    }

    100%{
      text-shadow: 1px 1px 0px black;
    }
}

/*opacity is WAY easier to animate for the cpu or gpu or whatever. the page*/
@keyframes gaslight-opacity {
  0%{
    opacity: 0%;
  }

  99%{
    opacity: 100%;
  }

  100%{
    opacity: 0%;
  }
}