
@font-face {
  font-family: cav;
  src: url("cavalier/Cavalier.ttf");
}

@font-face {
  font-family: times;
  src: url("gv-time-font/GvTimeRegular-BW768.ttf");
}

.jr{
  font-family: Courier New;
  font-size: 33px;
}

body {
  background-color: white;
  color: black;
  margin: 0px;
  overflow: auto;
  font-family:  Georgia,Cambria,Times New Roman,Times,serif;

}

.warning{
  font-weight: 100;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
}

.header{
  width: 100%;
  border-radius: 3px;

  margin: 0px;
  border-bottom: 8px;
  background-color: blue;
  color: white;
  font-family: cav;
  font-size: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  letter-spacing: 3px;
}

.footer{
  border-radius: 3px;
  width: 98%;
  margin: 0px;
  border-bottom: 8px;
  background-color: red;
  color: white;
  font-family: cav;
  font-size: 24px;

  position: absolute;
  bottom: 0px;
  text-align: center;
  left: 0px;
  padding: 10px;
  letter-spacing: 3px;
}

.link1{
  left: 10px;
  top: 100px;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  display: block;
  width: 300px;
  height: 240px;

}

.link1 img{

  object-fit: cover;
  border: 3px solid black;


}

a{
  text-decoration: none;
}

.link2{
  position: fixed;
  right: 50px;
  bottom: 10%;
  overflow: hidden;
  z-index: 10;
}

.link2 img{
  width: 201px;
  height: 400px;
  object-fit: cover;
  
}

.link3{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 200px;
}

.link3 img{
  display: block;
  width: 30%;
  object-fit: cover;
}

.logo{
  filter: contrast(1.0) grayscale(1.0) brightness(100);
}

.restaurant_name{
  font-family: Brush Script MT;
}

.slogan{
  margin-bottom: 15px;
  font-size: 18px;
  font-family:Tahoma ;
}

.center{
  width: 40%;
  background-color: forestgreen;
  color: white;
  text-align: center;
  vertical-align: bottom;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#header{
  display: flex;
  z-index: 999;
  justify-content: space-between;
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  font-family: times;

  height: 75px;
  vertical-align: middle;
  border-bottom: 1px solid #e4e4e4;
  background: black;
}


#header .headline{
  padding-right: 50%;
  text-align: center;
  font-family:  Georgia,Cambria,Times New Roman,Times,serif;

}

.content{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 150px;

}

.more-content{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 50px;

}