body {
  background-color: #abc9de;
  color: black;
  margin: 0px;
  overflow: auto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "GT America", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

#but-to-what {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 25%;
  margin-bottom: auto;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);

}

#page-content {
  display: none;
  height: 100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 120px;
  background-image: linear-gradient(white, #efefef);
  border-radius: 5px;
  box-shadow: 1px 1px 5px #b4b4b4;
  position: relative;
  display: block;
}

.small-text-notification {
  font-size: 10px;
  opacity: 85%;
  margin-top: 0px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

#notification {
  height: 47px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #b4b4b4;

  padding: 15px;
  margin-top: 24px;
  background-image: linear-gradient(white, #efefef);
  text-align: center;
  vertical-align: middle;
}

#header img {
  height: 100px;
  padding: 10px;
}

#content {
  width: 1000px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #b4b4b4;

  margin-top: 25px;
  min-height: 1000px;

}

.details-content {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  margin: 50px;

}

.ride-detail-title {
  text-align: left !important;
  font-size: 24px;
  font-weight: bolder;
  ;
}

.details-container {
  background-image: linear-gradient(white, #efefef);
  border: 1px solid white;
}

.details-right {
  width: 250px;
  font-size: 14px;
}

.info-box {
  border: 2px solid #c4c4c4;
  padding: 20px;
  background-image: linear-gradient(white, #efefef);
  box-shadow: 1.4px 2.7px 2.7px hsl(0deg 0% 0% / 0.46);
  margin-bottom: 50px;

}

.section {
  margin-bottom: 50px;
}

.details-left {
  max-width: 600px;
}

li {
  margin-bottom: 20px;
}

.quick-tips {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.info-box-label {
  font-weight: bolder;
  margin-bottom: 10px
}

.info-box-content {
  margin-bottom: 20px;
}

.back {
  position: absolute;
  bottom: 15px;
  left: 182px;
}

.huge-img {
  height: 55vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ride-container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  background-image: linear-gradient(white, #efefef);
  cursor: pointer;
  border: 1px solid white;

}

.ride-title {
  margin-top: 20px;
  font-size: 20px;
}

.nearby-attractions {
  color: #e27e37;
}

.ride-summary {
  display: inline-block;
  height: 200px;
  vertical-align: top;
  margin-left: 20px;
  color: #06253c;
  font-size: 14px;
  width: 741px;
}

.teaser-desc {
  margin-top: 20px;
}

.ride-container img {
  height: 150px;
  width: 220px;

  display: inline-block;
}


#truth-box {
  position: fixed;
  right: 35px;
  bottom: 35px;
  border: 3px solid black;
  border-radius: 2px;
  width: 300px;
  height: 360px;
  background: white;
  box-shadow: 1.4px 2.7px 2.7px hsl(0deg 0% 0% / 0.46);
  animation: closer_and_closer 113s 1 linear;
  animation-fill-mode: forwards;
  cursor: none;

}

@keyframes closer_and_closer {
  0% {
    width: 300px;
    height: 360px;
    box-shadow: 1.4px 2.7px 2.7px hsl(0deg 0% 0% / 0.46);
  }

  100% {
    width: 310;
    height: 370px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  }
}

#truth-mute {
  position: absolute;
  right: 1px;
  margin-top: 1px;
  font-size: 10px;
  background: white;
  border: 1px solid black;
  color: black;
  cursor: not-allowed;

}

#truths-words {
  height: 50px;
  width: 100%;
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: bolder;
  padding: 20px;
  width: 261px;
}

#truths-well canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}