
@font-face {
  font-family: GT America;
  src: url("fonts/GT-America/GT-America-Compressed-Regular-Trial.otf");
}

@font-face {
  font-family: GT America Thin;
  src: url("fonts/GT-America/GT-America-Compressed-Thin-Trial.otf");
}

body {
  background-color: #00145c;
  color: black;
  margin: 0px;
  overflow: auto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family:   "GT America", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.inner-box{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 66%;
}

.splash{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  color: #00649f;
  background-color: #abc9de;
}

.homepage-content{
  margin-top: 50px;
}

.splash-desc{
  font-family:   "GT America Thin", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



select{
  margin-left: 15px;
}

.fullbox{
  margin-left: 5vw;

  width: 76vw;
  display: flex;
  flex-direction: row;
}

.target{
  background-color: white;
  width: 66vw;
  height: 100vh;
  margin-top: 72px;
}

.logo{
  max-width: 216px;
  min-width: 216px;
  width: 215px;
  height: 72px;
  max-height: 72px;
  min-height: 72px;

}